body {
    background-image: url(https://img.freepik.com/free-photo/slice-delicious-pizza-with-ingredients-textured-wooden-background_23-2147926094.jpg?size=626&ext=jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
